<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="css/luogu3.css" />
<style>
    .lg-toolbar {
        display: none;
    }

    #app-body { /* Unused in fallback FE */
        display: none;
    }

    #app-body-new{
        display: block;
        margin-bottom: 2em;
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
    }

    @media (min-width: 576px) {
        #app-body-new {
            margin-left: 70px;
        }
    }

    code {
        font-family: monospace, "Courier New";
    }

		body, html {
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Noto Sans CJK SC,Noto Sans CJK,Source Han Sans,PingFang SC,Microsoft YaHei,sans-serif;
}
</style>
<div id="app-body-new" style="margin: o auto;" ng-controller="competitionCtr">

<div class="am-g lg-main-content">

<div class="am-u-md-12 lg-right">
<div class="lg-content-table-left">
<div class="am-g lg-table-bg0 lg-table-row" ng-repeat="com in page.datas">
<div class="am-u-md-7">
<strong class="lg-fg-{{colours[com.competion_colour]}}">{{com.competion_state}}</strong>
<a href=home.jsp#/try/answer?contest_id={{com.competion_id}}>
{{com.competion_name}}
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
{{com.competion_begin}}
<br>
{{com.competion_end}}
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=16700" target="_blank">退役选手观光团</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/16597">
Celeste 欢乐赛 Round A
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-05-11 16:00
<br>
2019-05-11 21:00
</div>
<div class="am-u-md-3 lg-table-small">
3题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=16640" target="_blank">Celeste 出题组</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/16551">
X Round 1
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
<span class="am-badge am-radius lg-bg-green">Rated</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-05-04 13:30
<br>
2019-05-04 19:30
</div>
<div class="am-u-md-3 lg-table-small">
5题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=16605" target="_blank">X Round</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15834">
【数论出题组-02】劳动节纪念赛
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-05-04 08:00
<br>
2019-05-04 21:00
</div>
<div class="am-u-md-3 lg-table-small">
5题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=13933" target="_blank">数论出题组</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15589">
「CNOI2019」Cirno的邀请赛 div1
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-bluelight">个人公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-05-12 08:30
<br>
2019-05-12 12:00
</div>
<div class="am-u-md-3 lg-table-small">
5题
<br>
By
<a class="lg-fg-red lg-bold" href="https://www.luogu.org/space/show?uid=47240" target="_blank">bzy369258147</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15588">
「CNOI2019」Cirno的邀请赛 div2
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-bluelight">个人公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-05-12 08:30
<br>
2019-05-12 11:00
</div>
<div class="am-u-md-3 lg-table-small">
5题
<br>
By
<a class="lg-fg-red lg-bold" href="https://www.luogu.org/space/show?uid=47240" target="_blank">bzy369258147</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15567">
【LGR-(-3)】洛谷愚人节比赛
</a>
<span class="am-badge am-radius lg-bg-purple">ACM</span>
<span class="am-badge am-radius lg-bg-red">官方比赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-31 18:30
<br>
2019-03-31 20:30
</div>
<div class="am-u-md-3 lg-table-small">
10题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=1000" target="_blank">洛谷官方团队</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15498">
【LGR-058】洛谷4月月赛
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-red">官方比赛</span>
<span class="am-badge am-radius lg-bg-green">Rated</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-04-20 14:30
<br>
2019-04-20 18:00
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=1000" target="_blank">洛谷官方团队</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15451">
水区人的水区赛（第二弹）
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-17 13:00
<br>
2019-03-17 18:00
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=14018" target="_blank">水区人的水题团</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15432">
Ynoi2019模拟赛
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-bluelight">个人公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-16 08:00
<br>
2019-03-17 12:00
</div>
<div class="am-u-md-3 lg-table-small">
3题
<br>
By
<a class="lg-fg-purple lg-bold" href="https://www.luogu.org/space/show?uid=3296" target="_blank">noip</a>&nbsp;<span class="am-badge am-radius lg-bg-purple">毒瘤</span>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15333">
[LnOI2019]长脖子鹿省选模拟赛
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-10 14:00
<br>
2019-03-10 19:00
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=12640" target="_blank">长脖子鹿委员会</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15278">
CCJ AK UniverseOI 纪念赛
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-23 08:00
<br>
2019-03-23 18:00
</div>
<div class="am-u-md-3 lg-table-small">
3题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=3000" target="_blank">一个私人团队</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/15267">
【LGR-057】洛谷3月月赛II
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-red">官方比赛</span>
<span class="am-badge am-radius lg-bg-green">Rated</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-23 14:30
<br>
2019-03-23 18:00
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=1000" target="_blank">洛谷官方团队</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/14994">
【LGR-056】洛谷3月月赛
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-red">官方比赛</span>
<span class="am-badge am-radius lg-bg-green">Rated</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-03-02 14:30
<br>
2019-03-02 18:00
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=1000" target="_blank">洛谷官方团队</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/14839">
CYJian的新春虐题赛
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-bluelight">个人公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-02-13 17:00
<br>
2019-02-13 22:00
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="lg-fg-red lg-bold" href="https://www.luogu.org/space/show?uid=20782" target="_blank">暮雪﹃紛紛</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/14833">
ARFA 教堂的第二次洗礼
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-02-04 12:00
<br>
2019-02-04 20:00
</div>
<div class="am-u-md-3 lg-table-small">
6题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=8289" target="_blank">ARFA教堂</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/13988">
【pG&amp;&amp;CYH-01】元旦联欢会
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2019-01-01 09:00
<br>
2019-01-01 20:00
</div>
<div class="am-u-md-3 lg-table-small">
6题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=13933" target="_blank">数论出题组</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/13637">
[XTQ-01]xtq的小学生活
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2018-12-31 09:00
<br>
2018-12-31 21:00
</div>
<div class="am-u-md-3 lg-table-small">
6题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=6023" target="_blank">蒟蒻联盟</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/13618">
Wolfycz的娱乐赛
</a>
<span class="am-badge am-radius lg-bg-yellow">乐多赛</span>
<span class="am-badge am-radius lg-bg-bluelight">个人公开赛</span>
</div>
<div class="am-u-md-2 lg-table-small">
2018-12-15 09:00
<br>
2018-12-15 12:30
</div>
<div class="am-u-md-3 lg-table-small">
4题
<br>
By
<a class="lg-fg-red lg-bold" href="https://www.luogu.org/space/show?uid=21633" target="_blank">Wolfycz</a>
</div>
</div>
<div class="am-g lg-table-bg0 lg-table-row">
<div class="am-u-md-7">
<strong class="lg-fg-red">已结束</strong>
<a href="https://www.luogu.org/contestnew/show/13601">
lk,remoon,dkw的水题欢乐赛(*/ω＼*)
</a>
<span class="am-badge am-radius lg-bg-yellow">IOI</span>
<span class="am-badge am-radius lg-bg-greendark">团队公开赛</span>
<span class="am-badge am-radius lg-bg-green">Rated</span>
</div>
<div class="am-u-md-2 lg-table-small">
2018-12-16 14:30
<br>
2018-12-16 19:00
</div>
<div class="am-u-md-3 lg-table-small">
6题
<br>
By
<a class="colored" href="https://www.luogu.org/team/show?teamid=13434" target="_blank">(*/ω＼*)</a>
</div>
</div>
</div>
<div class="panel-foot">
				<ul class="pager">
					<li><a href="javascript:;" ng-if="isCanPre"
						ng-click="changePage(false)">&laquo;上一页</a></li>
					<li class="active"><span>页码：{{page.currentPage}}/{{page.totalPage}}
							&nbsp; &nbsp;总条数：<span class="badge">{{page.totalCount}}</span>
					</span></li>
					<li><a href="javascript:;" ng-if="isCanNext"
						ng-click="changePage(true)">下一页&raquo;</a></li>
				</ul>
			</div>
</div>
</div>
</html>