<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ojback</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>servlet.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/ListUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProblem</display-name>
    <servlet-name>ListProblem</servlet-name>
    <servlet-class>servlet.ListProblem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProblem</servlet-name>
    <url-pattern>/ListProblem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProblem</display-name>
    <servlet-name>AddProblem</servlet-name>
    <servlet-class>servlet.AddProblem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProblem</servlet-name>
    <url-pattern>/AddProblem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCompetition</display-name>
    <servlet-name>ListCompetition</servlet-name>
    <servlet-class>servlet.ListCompetition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCompetition</servlet-name>
    <url-pattern>/ListCompetition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCompetition</display-name>
    <servlet-name>AddCompetition</servlet-name>
    <servlet-class>servlet.AddCompetition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompetition</servlet-name>
    <url-pattern>/AddCompetition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListManager</display-name>
    <servlet-name>ListManager</servlet-name>
    <servlet-class>servlet.ListManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListManager</servlet-name>
    <url-pattern>/ListManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerchUser</display-name>
    <servlet-name>SerchUser</servlet-name>
    <servlet-class>servlet.SerchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchUser</servlet-name>
    <url-pattern>/SerchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerchProblem</display-name>
    <servlet-name>SerchProblem</servlet-name>
    <servlet-class>servlet.SerchProblem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchProblem</servlet-name>
    <url-pattern>/SerchProblem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerchCompetition</display-name>
    <servlet-name>SerchCompetition</servlet-name>
    <servlet-class>servlet.SerchCompetition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchCompetition</servlet-name>
    <url-pattern>/SerchCompetition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProblem</display-name>
    <servlet-name>UpdateProblem</servlet-name>
    <servlet-class>servlet.UpdateProblem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProblem</servlet-name>
    <url-pattern>/UpdateProblem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addmanager</display-name>
    <servlet-name>Addmanager</servlet-name>
    <servlet-class>servlet.Addmanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addmanager</servlet-name>
    <url-pattern>/Addmanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateManager</display-name>
    <servlet-name>UpdateManager</servlet-name>
    <servlet-class>servlet.UpdateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateManager</servlet-name>
    <url-pattern>/UpdateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListClass</display-name>
    <servlet-name>ListClass</servlet-name>
    <servlet-class>servlet.ListClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListClass</servlet-name>
    <url-pattern>/ListClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClass</display-name>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>servlet.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerchClass</display-name>
    <servlet-name>SerchClass</servlet-name>
    <servlet-class>servlet.SerchClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchClass</servlet-name>
    <url-pattern>/SerchClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClass</display-name>
    <servlet-name>UpdateClass</servlet-name>
    <servlet-class>servlet.UpdateClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClass</servlet-name>
    <url-pattern>/UpdateClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerchManager</display-name>
    <servlet-name>SerchManager</servlet-name>
    <servlet-class>servlet.SerchManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchManager</servlet-name>
    <url-pattern>/SerchManager</url-pattern>
  </servlet-mapping>
</web-app>